body {
background-color:#E0ECF8;
} 
h4 {
color:922525;
font-family:Lucida Calligraphy;
font-size:15px;
text-align:left;
text-decoration:;
}
p {
color:#555555;
font-family:verdana;
text-align:center;
background-color:#F3E2A9;
}
b{
background-color:#F3E2A9;

}